body {
    font-size: 100%;
    font-family: sans-serif;
    font-style: normal;
}

a:link {
    color: #25785c;
    text-decoration:none;
}

a:visited {
    color: #25785c;
    text-decoration:none;
}

a:hover {
    color: #73470f;
    text-decoration:underline;
}

a:active {
    color: #73470f;
    text-decoration:underline;
}
