<html>
  <head><title>lolhub: blog</title></head>
  <body>
    {% include toolbar %}

    {% ifequal owner.id user.id %}
	<div>Your blog:</div>
    {% else %}
	<div>This is blog of <a href="/loluser/{{ owner.id }}">{{ owner.user.nickname }}</a>:</div>
    {% endifequal %}

    <center><b>    
        {% ifnotequal prevpage "-1" %}
        {% ifequal prevpage "0" %}
        <a href="/blog/{{ owner.id }}">Previous page</a>
        {% else %}
        <a href="/blog/{{ owner.id }}?page={{ prevpage }}">Previous page</a>
        {% endifequal %}
        {% endifnotequal %}
        &nbsp;| page {{ page}} |&nbsp;
        {% ifnotequal nextpage "-1" %}
        <a href="/blog/{{ owner.id }}?page={{ nextpage }}">Next page</a>
        {% endifnotequal %}
    </b></center>
    <hr/>

	{% for post in posts %}
	<p><b><a href="/blog/{{ owner.id }}/{{ post.id }}"><span style="font-size:20px">{{ post.title|escape }}</span></a> <span style="font-size:14px;align=right">(<a href="/blog/{{ owner.id }}/{{ post.id }}">{{ post.date_posted_formatted }}</a>)</span></b></p>
    <p style="border-width: 1px; border-style: solid; border-color: gray;">{{ post.content_preview|escape|linebreaksbr }}{% if not post.preview_full %}... <a href="/blog/{{ owner.id }}/{{ post.id }}">view full post</a>{% endif %}</p>

    {% ifequal owner.id user.id %}
    [<a href="/editpost?key={{ post.key }}">edit</a>]
    [<a href="/deletepost?key={{ post.key }}">delete</a>]
    {% endifequal %}
	<br/><hr/>
	{% endfor %}

    <center><b>    
        {% ifnotequal prevpage "-1" %}
        {% ifequal prevpage "0" %}
        <a href="/blog/{{ owner.id }}">Previous page</a>
        {% else %}
        <a href="/blog/{{ owner.id }}?page={{ prevpage }}">Previous page</a>
        {% endifequal %}
        {% endifnotequal %}
        &nbsp;| page {{ page}} |&nbsp;
        {% ifnotequal nextpage "-1" %}
        <a href="/blog/{{ owner.id }}?page={{ nextpage }}">Next page</a>
        {% endifnotequal %}
    </b></center>
    <br/>

    {% ifequal owner.id user.id %}
    <a href="/editpost">add new post</a>
    {% endifequal %}
  </body>
</html>
