<html>
  <head><title>lolhub: books</title></head>
  <body>
    {% include toolbar %}

    {% ifequal owner.id user.id %}
	<div>List of your books:</div><hr/>
    {% else %}
	<div>List of books of <a href="/loluser/{{ owner.id }}">{{ owner.user.nickname }}</a>:</div><hr/>
    {% endifequal %}

	{% for book in books %}
	<b>{{ book.title|escape }}</b>
    by {{ book.author|escape }}, {{ book.year }}
    ({{ book.current_page}} / {{ book.total_pages }})

    {% ifequal owner.id user.id %}
    [<a href="/editbook?key={{ book.key }}">edit</a>]
    [<a href="/deletebook?key={{ book.key }}">delete</a>]
    {% endifequal %}
	<br/><hr/>
	{% endfor %}

    {% ifequal owner.id user.id %}
    <a href="/editbook">add new book</a>
    {% endifequal %}
  </body>
</html>
