<html>
  <head><title>lolhub: blog</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}

    {% if post %}
    <form action="/savepost?key={{ post.key }}" method="post">
      <p class="post-level-title">Edit post:</p>
      <div class="input-wrapper">Post title:<input style="width:100%" type="text" name="title" value="{{ post.title|escape }}"/></div>
      <div class = "comment-area-wrapper"><textarea class="comment-area" name="content" rows="20" cols="80">{{ post.content|escape }}</textarea></div>
      <table style="width:100%; text-align:right">
        <tr>
          <td>
            <input class="save-button" type="submit" value="save"/>
          </td>
        </tr>
      </table>

    </form>
    {% else %}
    <form action="/savepost" method="post">
      <p class="post-level-title">New post:</p>
      <div class="input-wrapper">Post title:<input style="width:100%" type="text" name="title" value=""/></div>
      <div class="comment-area-wrapper"><textarea class="comment-area" name="content" rows="20" cols="80"></textarea></div>
      <table style="width:100%; text-align:right">
        <tr>
          <td>
            <input class="save-button" type="submit" value="save"/>
          </td>
        </tr>
      </table>
    </form>
    {% endif %}
    <br/>
  </body>
</html>
