<html>
  <head><title>lolhub: {{ owner.nickname_wrap|escape }}</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}

    {% ifequal owner.id loluser.id %}
	<p class="post-level-title">This is your profile page</p>
    <p class="post-level-title"><a href="/books/{{ owner.id }}">Your books</a></p>
    <p class="post-level-title"><a href="/blog/{{ owner.id }}">Your blog</a></p>
    {% else %}
    <p class="post-level-title">This is profile page of {{ owner.nickname_wrap|escape }}</p>
    <p class="post-level-title"><a href="/books/{{ owner.id }}">View {{ owner.nickname_wrap|escape }}'s books</a></p>
    <p class="post-level-title"><a href="/blog/{{ owner.id }}">View {{ owner.nickname_wrap|escape }}'s blog</a></p>
    {% endifequal %}

  </body>
</html>
