<html>
  <head><title>lolhub: {{ owner.user.nickname }}</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}

    {% ifequal owner.id user.id %}
	<div>This is your profile page</div>
    <div><a href="/books/{{ owner.id }}">Your books</a></div>
    <div><a href="/blog/{{ owner.id }}">Your blog</a></div>
    {% else %}
    <div>This is profile page of {{ owner.user.nickname }}</div>
    <div><a href="/books/{{ owner.id }}">View {{ owner.user.nickname }}'s books</a></div>
    <div><a href="/blog/{{ owner.id }}">View {{ owner.user.nickname }}'s blog</a></div>
    {% endifequal %}

  </body>
</html>
