<html>
  <head><title>lolhub: main</title></head>
  <body>
    {% include toolbar %}
    <b>Welcome to lolhub!</b><br/>
    {% if user %}
    <p><a href="/books/{{ user.id }}">manage your reading list</a></p>
    <p><a href="/blog/{{ user.id }}">manage your blog</a></p>
    {% else %}
    <p>You can login yo lolhub with Google account and use lolhub services (books & blog)</p>
    {% endif %}
    <span style="font-size:10px">webmaster: alekseyrybalkin [gmail] (<a href="http://github.com/alekseyrybalkin/lolhub">github home</a>)</span>
  </body>
</html>
