<html>
  <head><title>lolhub: main</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}
    <b>Welcome to lolhub!</b><br/>
    {% if user %}
    <p><a href="/books/{{ user.id }}">manage your reading list</a></p>
    <p><a href="/blog/{{ user.id }}">manage your blog</a></p>
    {% else %}
    {% if google_user %}
    <p>To use services you now need to <a href="/saveloluser">save your profile</a> (just one click!)</p>
    {% else %}
    <p>You can login to lolhub with Google account and use lolhub services (books & blog)</p>
    {% endif %}
    {% endif %}
    <span style="font-size:10px">webmaster: alekseyrybalkin [at gmail] (<a href="http://github.com/alekseyrybalkin/lolhub">github home</a>)</span>
  </body>
</html>
