<html>
  <head><title>lolhub: main</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}
    <p class="blog-level-title">Welcome to lolhub!</p><br/>
    {% if user %}
    <p class="post-level-title"><a href="/books/{{ user.id }}">manage your reading list</a></p>
    <p class="post-level-title"><a href="/blog/{{ user.id }}">manage your blog</a></p>
    {% else %}
    {% if google_user %}
    <p class="post-level-title">To use services you now need to <a href="/saveloluser">save your profile</a> (just one click!)</p>
    {% else %}
    <p class="post-level-title">You can login to lolhub with Google account and use lolhub services (books & blog)</p>
    {% endif %}
    {% endif %}
    <br/>
    <span class="footer">webmaster: alekseyrybalkin [at gmail] (<a href="http://github.com/alekseyrybalkin/lolhub">github home</a>)</span>
  </body>
</html>
