<html>
  <head><title>lolhub: blog</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}

    <p class="post-title">
      <a href="/blog/{{ owner.id }}/{{ post.id }}">{{ post.title|escape }}</a>
      <span class="post-date">
        (<a href="/blog/{{ owner.id }}/{{ post.id }}">{{ post.date_posted_formatted }}</a>)
      </span>
    </p>
    <p class="post-content">
      {{ post.content|escape|linebreaksbr }}
    </p>

    {% ifequal owner.id user.id %}
    <p class="edit-post">[<a href="/editpost?key={{ post.key }}">edit</a>]
      [<a href="/deletepost?key={{ post.key }}">delete</a>]</p>
    {% endifequal %}

    <p class="back-to-blog">
    {% ifequal owner.id user.id %}
      <a href="/blog/{{ owner.id }}">Back to your blog</a>
      {% else %}
      <a href="/blog/{{ owner.id }}">View all posts by {{ owner.user.nickname }}</a>
    {% endifequal %}
    </p>

  </body>
</html>
