<html>
  <head><title>lolhub: comment</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}


    <p class="comment-author">
      {% if comment.author %}
      <a href="/loluser/{{ comment.author.id }}">{{ comment.author.nickname_wrap|escape }}</a> wrote:
      {% else %}
      Anonymous wrote:
      {% endif %}
      <span class="comment-date">
        ({{ comment.date_posted|date:"d.m.Y H:i" }})
      </span>
    </p>

    <p class="comment-content">{{ comment.content|escape|linebreaksbr }}</p>

	<form action="/savecomment" method="post">
	  <p class="information">Your reply:</p>
      <div class="comment-area-wrapper"><textarea class="comment-area" name="content" rows="6" cols="80"></textarea></div>
      <input type="hidden" name="post" value="{{ comment.post.key }}"/>
      <input type="hidden" name="parent_comment" value="{{ comment.key }}"/>
      <table style="width:100%; text-align:right">
        <tr>
          <td>
	        <input class="save-button" type="submit" value="save"/>
          </td>
        </tr>
      </table>
	</form>

  </body>
</html>
