<html>
  <head><title>lolhub: profile</title></head>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
  <body>
    {% include toolbar %}

    {% if loluser %}
    {% if loluser.nickname %}
    <p class="post-level-title">You have already saved your profile and nickname, {{ loluser.nickname|escape }}! =)</p>
    {% else %}

    <p class="post-level-title">You can choose a nickname for your profile. You may want to choose a nickname different from your google profile nickname. It is OK if they will be the same. NOTE: you can choose a nickname only once.</p>
	<form action="/savenickname" method="post">
      <div class="input_wrapper">
        Your nickname (no spaces, min 2, max 42 chars): <input style="width:100%" type="text" name="nickname" value="{% if not nickname %}{{ google_user.nickname|escape }}{% else %}{{ nickname|escape }}{% endif %}"/>
      </div>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}

      <table style="width:100%; text-align:right">
        <tr>
          <td>
	        <input class="save-button" type="submit" value="save"/>
          </td>
        </tr>
      </table>
	</form>
    {% endif %}

    {% else %}

    <p class="post-level-title">You can choose a nickname for your profile. You may want to choose a nickname different from your google profile nickname. It is OK if they will be the same. NOTE: you can choose a nickname only once.</p>
	<form action="/savenickname" method="post">
      <div class="input_wrapper">
        Your nickname (no spaces, min 2, max 42 chars): <input style="width:100%" type="text" name="nickname" value="{% if not nickname %}{{ google_user.nickname|escape }}{% else %}{{ nickname|escape }}{% endif %}"/>
      </div>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}

      <table style="width:100%; text-align:right">
        <tr>
          <td>
	        <input class="save-button" type="submit" value="save"/>
          </td>
        </tr>
      </table>
	</form>

    {% endif %}
  </body>
</html>
