<link rel="stylesheet" href="/css/toolbar.css" />
<div class="toolbar">
    <table style="width:100%">
        <tr>
            <td class="lolhub"><a href="/">lolhub</a></td>
            {% if google_user %}
            <td class="login-tools">hello
                {% if loluser %}
                <a href="/loluser/{{ loluser.id }}">{% endif %}
                    <b>{% if loluser.nickname %}{{ loluser.nickname|escape }}{% else %}{{ google_user.nickname|escape }}{% endif %}</b>{% if loluser %}</a>{% endif %},
                you can <a href="{{ logout_url }}">logout</a>
                {% if not loluser %}
                <a class="urgent_message" href="/saveloluser">(save your profile to use services)</a>
                {% else %}
                {% if not loluser.nickname %}
                <a class="urgent_message" href="/saveloluser">(hey, now you can choose a different nickname)</a>
                {% endif %}
                {% endif %}
            </td>
            {% else %}
            <td class="login-tools">welcome, you can <a href="{{ login_url }}">login</a></td>{% endif %}
        </tr>
    </table>
</div>
{% if google_user %}
{% if loluser %}
<div class="menu">
    <span class="menu-item"><a href="/books/{{ loluser.id }}">books</a></span>
    <span class="menu-item"><a href="/blog/{{ loluser.id }}">blog</a></span>
    {% if admin %}
    <span class="menu-item"><a href="/xpass">xpass</a></span>
    {% endif %}
</div>
{% endif %}
{% endif %}
